.name{
    padding: 16px;
    background-color: #f5f5f5;
    margin-bottom: 8px;
    margin-top: 20px;
}
.content{
    padding: 16px;
    background-color: #f5f5f5;
    margin-bottom: 16px;
}
.placeholder{
    font-size: 16px;
}
.btn{
    background-color: #337AB0;
    color: #f5f5f5;
}