body{
    overflow-x: hidden;
    background-color: #EFEFEF;
}
.list{
    padding: 4px;
    overflow-x: hidden;
}
.headimg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
}
.punch{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
}
.name{
    margin-left: 32px;
    width: 58%;
    overflow: hidden;
    text-overflow:ellipsis;
    vertical-align: middle;
    font-size: 14pt;
}
.main{
    vertical-align: middle;
    padding: 8px 8px;
    transform: translate(0px,0px);
    margin-bottom: 8px;
    background-color: #f5f5f5;
}
.addimg{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 45px;
    right: 4px;
}
.addimg2{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 4px;
}
.turnadd{
    background-color: #2c2c2c;
}
.issigin{
    width: 100%;
    overflow: hidden;
}
unsigin{
     width: 110%;
     overflow: hidden;
     position: relative;
     right: 10%;
}
.leftmove{
    transform: translate(-64px,0px);
}
.cancel{
    padding-left: 32px;
    height: 100%;
}